.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-item {
    padding: 0px 10px;
}

.nav-item>ul {
    display: flex;
    font-size: 16px;
    list-style-type: none;
}

.nav-item>ul>li {
    padding: 10px;
    margin: 10px;
}

.body {
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 25px;
    padding: 5px;
}

.res-container {
    flex-wrap: wrap;
    display: flex;
    border: 1px solid red;
    justify-content: space-around;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.search {
    padding: 10px;
}

.res-logo {
    width: 100%;
    height: 40%;
}

.filter {
    display: flex;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shimmer-card {
    margin: 20px;
    width: 200px;
    padding: 5px;
    border-radius: 8px;
    background-color: #c2c2d6;
}

.shimmer-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: #e0e0eb;
}

.simmer-heading {
    height: 20px;
    width: 200px;
    border-radius: 10px;
    background-color: #e0e0eb;
}

.login-btn {
    padding: 0 20px;
    cursor: pointer;
}

.menuItem {
    display: flex;
    width: 500px;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    border-radius: 10px;
    background-color: #e0e0eb;
}

.memuDetails {
    width: 280px;
}

.menuItemImg {
    width: 100px;
    border-radius: 10px;
}

.user-card {
    padding: 10px;
    margin: 10px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
}

.details-display {
    display: flex;
    width: 350px;
    justify-content: space-around;
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}